*.dot
*.dylib
*.prof
*.pyc
*.pyd
*.so
*.bin
*.log
.coverage
.eggs/*
_cache/*
build/*
dist/*
*egg-info/*
onnxruntime_profile*
prof
temp_*
essai.txt
.ipynb_checkpoints
_doc/CHANGELOGS.rst
_doc/LICENSE.txt
_doc/auto_examples/*
_doc/examples/*.proto
_doc/examples/schema_pb2.py
_doc/examples/plot_*.png
_doc/examples/plot_*.xlsx
_doc/examples/data/*.optimized.onnx
_doc/examples/*.html
_doc/_static/require.js
_doc/_static/viz.js
_doc/practice/algo-compose/paris_54000.*
_doc/practice/tds-base/*.txt
_doc/practice/tds-base/*.csv
_doc/practice/tds-base/*.zip
_doc/practice/tds-base/*.html
_doc/practice/tds-base/monmodule*.*
_doc/c_data/*.csv
_doc/c_data/*.txt
_doc/c_data/*.xlsx
_doc/c_data/*.zip
_doc/c_data/*.dbf
