black
black-nb
blockdiag
chardet
cloudpickle
coverage
cytoolz
dbfread
dict2xml
furo
ipython
jinja2
jupyter
lifelines
lxml
matplotlib
mutagen  # mp3
nbsphinx
networkx
openpyxl
pandas
pillow
protobuf<4
pyinstrument
pytest
pytest-cov
ruff
scikit-image
scikit-learn>=1.2
sphinx<7.2  # furo raises an error
sphinx-gallery
sphinx-issues
sphinxcontrib-blockdiag
git+https://github.com/sdpython/blockdiag.git@pil10
git+https://github.com/sdpython/sphinx-runpython.git
tqdm
ujson
wheel
