black
black-nb
blockdiag
cloudpickle
coverage
jupyter
jyquickhelper
matplotlib
nbsphinx
pandas
pillow
protobuf<4
pydata_sphinx_theme
pytest
pytest-cov
ruff
scikit-learn>=1.1
sphinx
sphinx-gallery
sphinx-issues
git+https://github.com/sdpython/sphinx-runpython.git
tqdm
ujson
wheel
