ansiconv
autopep8
bqplot
brewer2mpl
codecov
entrypoints
goslate
lifelines
lightning-python
mechanize
metakernel
pkgtools
pyquickhelper
pyreadline
python-jenkins
requests-oauthlib
version_information
xmltodict
xlrd
