bokeh
cloudpickle
coverage
ipython
jupyter
jupyter_client
jupyter_core
jyquickhelper
matplotlib
mutagen
numpy>=1.11.0
nbformat
nbpresent
notebook>=5.0.0
pandas>=1.0.0
pandas_streaming>=0.1.87
pillow
protobuf
pycodestyle
pylint
pyquickhelper>=1.9
pyquicksetup>=0.2
scikit-learn
scipy
sphinx
sphinxcontrib.imagesvg
pydata_sphinx_theme
sphinxcontrib-blockdiag
sphinx_gallery
solar-theme
ujson
wheel
