black
black-nb
blockdiag
cloudpickle
coverage
cytoolz
furo
ipython
jupyter
lifelines
matplotlib
mutagen  # mp3
nbsphinx
pandas
pillow
protobuf<4
pytest
pytest-cov
ruff
scikit-learn>=1.2
sphinx
sphinx-gallery
sphinx-issues
sphinxcontrib-blockdiag
git+https://github.com/tjni/blockdiag.git@pillow-10
git+https://github.com/sdpython/sphinx-runpython.git
tqdm
ujson
wheel
