ansiconv
autopep8
babel!=2.0
blockdiag
bokeh
coverage
jyquickhelper
pycodestyle>=2.0.0
pydocstyle
pyquickhelper>1.5.2122
semantic_version
setuptools
sphinx-gallery
tqdm
unify
version_information
xmltodict
xlrd
